
@{
    ViewBag.Title = "Інформація";
    Layout = "~/Areas/Bus/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-5 col-lg-offset-3">
        <p></p><p></p><p></p>
        <p>
            Скарга може бути: усною або письмовою. Якщо, порушення було значне, і ви вимагаєте компенсації за дії водія, то треба мати двох, трьох свідків, які підтвердять ваші слова. Скаргу можна подати як в відділ транспорту і зв`язку міськвиконкому як організатору послуг так і безпосередньо перевізнику за номером, який має бути розміщений в салоні автобусу.
        </p>
        <p>
            Отже порядок дій:
        </p>
        <ol>
            <li>
                Визначте наступні дані:
                <ol>
                    <li>Номер маршруту</li>
                    <li>
                        Номер автобусу (АА ххх АТ)
                    </li>
                    <li>
                        Зупинка, або місце де це сталось
                    </li>
                    <li>
                        Час і дата
                    </li>
                </ol>
            </li>
            <li>
                Вкажіть свої персональні і контактні дані
            </li>
            <li>
                Опишіть ситуацію і причину
            </li>
            <li>
                Якщо порушення є серьозним заручіться підтримкою двох-трьох свідків, запишіть їхні дані і номера телефонів.
                Ви можете подати скаргу трьома способами:
                <ul>
                    <li>
                        Устно по телефону в відділ транспорту і зв`язку: 72-51-17
                    </li>
                    <li>
                        Письмово написавши скаргу на адресу:
                        <ul>
                            <li>Незалежності 7 (відділ транспорту і зв`язку)</li>
                            <li>Грушевського 21 (білий дім) (відділ звернень)</li>
                        </ul>
                    </li>
                    <li>
                        Електронне звернення за посиланням <a href="http://www.emvk.if.ua/">http://www.emvk.if.ua/</a>
</li>
                </ul>
            </li>
        </ol>

        <p>
            <h3>Порядок подачі скарги на цьому сайті:</h3>
            <ul>
                <li>
                    Визначте наступні дані:
                    <ol>
                        <li>Номер маршруту</li>
                        <li>
                            Номер автобусу (АА ххх АТ)
                        </li>
                        <li>
                            Зупинка, або місце де це сталось
                        </li>
                        <li>
                            Час і дата
                        </li>
                    </ol>
                </li>

                <li>
                    Заповніть відповідні поля
                </li>
                <li>
                    Додайте детальний опис для кращого пояснення
                </li>
                <li>
                    Перевірте всі поля
                </li>
                <li>
                    Ми перевірим заявку і відправимо повідомлення перевізнику
                </li>
                <li>
                    Якщо перевізник відповість ми повідомимо вас про відповідь
                </li>
                <li>
                    Якщо у триденний термін перевізник не відреагує, ми складемо скаргу і відправимо через сайт міськвиконкому
                </li>
                <li>
                    В майбутньому ви зможете скачати і роздрукувати скаргу і відправити поштою на вказану вище адресу
                </li>
            </ul>
        </p>
    </div>

</div>
