# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
\bin
\obj
source/maps.Web/Content/files
source/maps.Web/Content/logs
source/packages
source/maps.Web/.sass-cache
*.suo
source/.vs
source/.vs/config
/source/maps.Db/maps.Db.dbmdl
*.jfm
/source/.vs/maps/v15/Server/sqlite3
