@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "maps.if.ua";
    
}
@section header {
    <script type="text/javascript" src="/scripts/default/index.js"></script>
}
<div class="background-map" id="map">
</div>

<ul class="projects">
    <li>
        <a href="@Url.Action("Index", "Home", new { area = "bycicle" })">
            <img src="/Content/images/bycicle_2.png" /> Велорух
        </a>
    </li>
</ul>
