@model User

@if (Model != null)
{
    if (!string.IsNullOrWhiteSpace(Model.AvatarPath))
    {
        <li><img src="@Model.AvatarPath?w=50&h=50&mode=crop" /></li>
    }
    <li>@Html.ActionLink("Вийти", "Logout", "Login", null, new { @class = "btn btn-default btn-navbar" })</li>
}
else
{
    <li>@Html.ActionLink("Facebook login", "Connect", "User", null, new { @class = "btn btn-default btn-navbar" })</li>
}

