@{
    ViewBag.Title = "Додати маршрут - Велорух - maps.if.ua";
    Layout = "~/Areas/Bicycle/Views/Shared/_Layout.cshtml";
}
@section header {
    <script type="text/javascript" src="/scripts/bycicle/add.js"></script>
}
<div class="background-map" id="map">
</div>


<div class="action-wrapper" id="ActionWrapper">
    <div class="btn btn-primary" id="SaveRouteBtn">Зберегти</div>

    <div class="btn btn-default" id="CancelBtn">Скасувати</div>
</div>
