@{
    ViewBag.Title = "Restore password success";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper">
    <div class="row">
        <div class="col-sm-4 "></div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Send password to specified email</h2>
        </div>
    </div>
</div>