@{
    var controllerName = ViewContext.RequestContext.RouteData.Values["controller"] as string;
    var actionName = ViewContext.RequestContext.RouteData.Values["action"] as string;
    var currentUser = ((maps.Web.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        @if (currentUser != null && currentUser.InRoles("admin"))
        {
            <li class="@(controllerName == "Admin" ? "active" : "")"><a href="@Url.Action("Index", "Admin")">Адмінка</a></li>
        }
        <li class=""><a href="@Url.Action("Info", "Home")">Інформація</a></li>
    </ul>

</div>
