@model System.Collections.Generic.KeyValuePair<string, maps.Web.Models.ViewModels.UtilityPhotoView>
<div class="col-sm-6 UtilityPhotoItem">
    @Html.Hidden("Photos[" + Model.Key + "].ID", Model.Value.ID)
    @Html.Hidden("Photos[" + Model.Key + "].Image", Model.Value.Image)
    @Html.Hidden("Photos[" + Model.Key + "].State", Model.Value.State, new { @class = "PhotoItemState" })
    <div class="thumbnail normalsize">
        <div class="remove-file RemoveUtilityPhoto">
            <i class="glyphicon glyphicon-trash"></i>
        </div>
        <img src="@(Model.Value.Image)?width=200&height=200" />
    </div>
</div>
