
<script type="text/javascript">
    var reformalOptions = {
        project_id: 737910,
        project_host: "maps-if.reformal.ru",
        force_new_window: true,
        tab_orientation: "bottom-right",
        tab_indent: "10px",
        tab_bg_color: "#fa0021",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/0JLRltC00LPRg9C60Lgg0YLQsCDQv9GA0L7Qv9C%252B0LfQuNGG0ZbRlw==/FFFFFF/1c30dbf8980bcfc6540ab35cbe4f1d45/top-right/0/tab.png",
        tab_border_width: 0
    };

    (function () {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://maps-if.reformal.ru">Відгуки та пропозиції</a></noscript>