body {
}

.sport-wrapper {
    width : 300px;
    height : 300px;
    position : relative;
}

.sport-wrapper .over {
    position : absolute;
    z-index : 2;
    top : 0;
    left : 0;
    width : 300px;
    height : 300px;
    background : transparent url("/Content/images/ava/illlegal.png") no-repeat 0 0;
    background-size: 300px 300px;
}