@model List<KeyValuePair<string,string>>

<ul>
@foreach (var item in Model)
{
    <li>
        <strong>@item.Key:</strong> @item.Value
    </li>
}
</ul>

<a href="@Url.Action("Edit", "Home", new { id=  ViewBag.ID })" class="btn btn-xs btn-primary">Edit</a>
