@model List<KeyValuePair<string,string>>
@{
    var currentUser = ((maps.Web.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

<ul>
@foreach (var item in Model)
{
    <li>
        <strong>@item.Key:</strong> @item.Value
    </li>
}
</ul>
   @if (currentUser != null) 
   { 
<a href="@Url.Action("Edit", "Home", new { id=  ViewBag.ID })" class="btn btn-xs btn-primary">Edit</a>
   }
